.search-car {
  label {
    font-size: 20px;
    font-weight: bold;
  }

  .search-input {
    display: flex;
    align-items: center;
    margin: 10px 0 50px 0;
  }

  input {
    height: 50px;
    width: 305px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
  }

  .box {
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    display: flex;
    flex-direction: column;
    display: none;

    span {
      padding: 3px 0;
      border-bottom: 1px solid black;

      &:hover {
        cursor: pointer;
        background-color: blanchedalmond;
      }
    }
  }

  .focus {
    display: flex;
  }
}
